html, body {
    height: 100%;
    margin: 0;
}
div {
    height: 100%;
    float: left;
}
#left {
    width:200px;
    margin: 5px;
}
#center {
    margin: 5px 0;
    width: 60%;
}
#right {
    margin: 5px;
    width: 20%;
}