<div>
    <ul ng-repeat="product in products"> 
        <div>
          {{product.name}}

        </div>
        <p>
            <button type="button" class="btn btn-link"ui-sref="shoppingcart.products.edit({product:product})">Edit</button>
            <button type = "button"class="btn btn-link" ng-click="deleteProduct(product)">Delete</button>
        </p>
    </ul>

<hr>
<ui-view>
    <div>
        <button type="button" class="btn btn-link" ui-sref="shoppingcart.products.create">
            Add Product
        </button>
    </div>
</ui-view>
</div>

