

<div class="row" >
    <div class="col-sm-6 col-lg-6 col-md-6" ng-repeat="product in products">
    <div class="thumbnail">
        <div class="caption">
            <h4 class="pull-right">$24.99</h4>
            <h4><a href="#">{{product.name}}</a>
            </h4>
            <p>Some kind of description goes in here</p>
        </div>
    </div>
</div>


<!---




<div>
    <ul ng-repeat="product in products"> 
        <div>
          {{product.name}}

        </div>
        <p>
            <button type="button" class="btn btn-link"ui-sref="shoppingcart.products.edit({product:product})">Edit</button>
            <button type = "button"class="btn btn-link" ng-click="deleteProduct(product)">Delete</button>
        </p>
    </ul>

<hr>
<ui-view>
    <div>
        <button type="button" class="btn btn-link" ui-sref="shoppingcart.products.create">
            Add Product
        </button>
    </div>
</ui-view>
</div>

--->